{{#each this}}

<ul class="details-list">
  <li class="details"> Capital: {{capital}}</li>
  <li class="details"> Population: {{population}}</li>
  
  <li class="details"> Languages: {{languages}}</li>
 
</ul>
{{/each }}